

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bootstrap 5 - Login Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
</head>

<body class="main-bg">
  <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">reset password</h2>
          </div>
          <div class="card-body">
            <form action="/forget" method="post" id="forget-password">
              <div class="mb-4">
                <label for="username" class="form-label">mobile Number</label>
                <input type="number" class="form-control" id="number" name="mobile"/>
              </div>
              <div class="mb-4">
                <input type="submit" class="form-control" id="" value="send reset link" onclick="resetNumber()"/>
              </div>
              <div class="d-grid mb-5 mt-5">

                <!-- give some message by users for their login  -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <script>
  function resetNumber(){
    const forgetPassword = document.querySelector('#forget-password');
    forgetPassword.addEventListener('submit',event=>{
      event.preventDefault();
      console.log("number is not valid")
      let number = document.getElementById('number').value.trim();
      if(!number){
        alert('number missing')
      }else{
        forgetPassword.submit()
      }
    })

  }
  </script> -->
</body>

</html>
