
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<!--sweat alert link-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
<!--sweet alert link end-->

<body>

  <div class="d-grid gap-2 d-flex justify-content-end mt-5 me-5">
    <div class="text-center col-lg-10" ><h1></h1></div>
     </div>
  
<div class="container">
  <div class="image d-grid gap-2 d-flex justify-content-center mt-5">
    
  </div>
</div>
<form action="/verify-otp" method="post" id="verifyOtp">
    <section>
        <div class="container me-5 col-lg-8 col-md-10 col-11">
          <div class="row gx-4 gy-4 pl-5">
           <div class="rounded shadow-lg vw-25" style="height: 25rem; width: 22rem;">
          <div class="card-body">
            <div class=" mt-4 text-center "><h4><b>Verify otp</b></h4></div><hr>
            <p class="fw-1 text-center"><b>please enter 6-digits verification code that was send to your phone number the code is valid for 30 minutes</b></p>
            <div class="mt-5 text-center"><input class="mt-4 text-center" type="text" placeholder="11-22-33" name="otp" id="otp"></div>
            <div class="text-center mt-4"><input type="submit" class="btn btn-success" onclick="verifyOtp()"></div>
            <div class="row mt-3 text-center"><div class="col-md-12"><a href="/verify-otp">Resend otp</a></div></div>
        </div>
      </div>
      
          </div>
          
        </div>
      </section>
</form>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <script>
       function verifyOtp(){
        const verifyOtp = document.querySelector('#verifyOtp');
        verifyOtp.addEventListener('submit',event=>{
          event.preventDefault()
          const otp =document.getElementById('otp').value.trim()
          if(!otp || otp.length<6 || otp.length>6){
            Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Something went wrong!',
  footer: '<a href="">Why do I have this issue?</a>'
})

          }else{
            verifyOtp.submit()
          }

        })
       }
    </script>
</body>

</html>
